<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDilHtu7QyjNfn6mos8NZJ8CwkRTSXPSL4</string>
	<key>GCM_SENDER_ID</key>
	<string>342184245240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apple.aurora</string>
	<key>PROJECT_ID</key>
	<string>aurora-ec42c</string>
	<key>STORAGE_BUCKET</key>
	<string>aurora-ec42c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342184245240:ios:d3bc0123789a5bc093080d</string>
</dict>
</plist>